@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');
/* || General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    font-family: normal;
    
}
/* || General styles */

/* || HEADER styles */
header {
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(162, 162, 162, 0.242);
    align-items: center;
}
.header__menu{
    width: 80%;
    height: 110px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu__logo  {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
     margin: 0 8%;
}
.header__menu__logo a {
    font-size: 28px;
    color: rgb(126, 127, 128) !important;
    padding-left: 10px;
    letter-spacing: 2px;

}

.header__nav__container {
     
    height: 100%;
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header__nav__lists {
    width: 100%;
     
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 2%;
     
}
.header__nav__item, .log_in {
    font-size: 11px;
    padding: 5px 20px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
 


}
.header__nav__item a {
    color: black;
}
.bi {
    width: 30px;
    height: 30px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: white;
    margin-left: 7px;
    border-radius: 50px;
}
.header__nav__lists i {
    color: white !important;
     
}
.header__nav__item:hover {
    background-color: rgba(184, 163, 202, 0.707);
}
.active{
    background-color: rgba(184, 163, 202, 0.707);
}
.log_in {
    margin-right: 10%;
    font-size: 11px;
    color: black !important;
}
.log_in  a {
    color: black !important;

}

.header__slider {
    width: 100%;
    height: 480px;
    position: relative;
}
.carousel, .carousel-inner , .carousel-item  {
    width: 100% !important;
    height: 100% !important;
}
.carousel-item  img {
    width:100%;
    height: 100%;
}

.slider__title  {
    position: absolute;
    
    width: 730px;
    height: 162px;
    margin: -28% 16%;
    

}
.title_line_one {
    width: 450px;
    height: 2px;
    background-color: #fff;
    line-height: 1.3rem  ;
}
.title_line_two{
    width: 635px;
    height: 2px;
    background-color: #fff;
}
.slider__title  div {
    display: flex;

}
.slider__title div .line {
     
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin-top: 4%;
    transform: rotate(90deg);
}
.slider__title  div   h1 {
    font-size: 52px;
    color: #fff !important;
}
 
.header_slider_icon {
    width: 100%;
    height: 140px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_icon_container {
    width: 50%;
    height: 100%;
     
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 15%;

}
.container_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_box  h1 {
    font-size: 18px;
    font-weight: 100;
}
/* || Header styles */

/* || Main styles */

main {
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     

}
.main__card__container {
    width: 77%;
    height: auto;
     
    
    column-gap: 1%;
    row-gap: 7%;
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin-top: 2%;
     
      
     
}
.card__box {
    width: 488px;
    height: 260px;
   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box__image  {
    width: 488px;
    height: 186px;
}
.box__image img {
    width: 488px;
    height: 186px;
    object-fit: cover;
}
.card__content {
    width: 100%;
    height: 100%;
     margin-top: 2%;
    display: flex;
     
     
    
}
.card__content  .icon {
    width: 50px;
    height: 50px;
    
    margin: 7px 5px;
}
.card__content  .icon  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card__content  .line {
    width: 10px;
    height: 50px;
    border-left: 1px solid black;
    text-decoration: dashed;
    margin: 7px 5px;
     

}
.card__content .text {
     width: 400px;
     height: auto;
     display: flex;
      flex-direction: column;
      margin-top: 1%;
}
.card__content .text h1 {
    font-weight: 100;
    font-size: 18px;
    color: rgb( 114,98,119);
}
.card__content .text_line {
    width: 408px;
    height: 1px;
    background-color: rgb( 114,98,119);
}
.text_content {
    width: 400px;
    height: auto;
    display: flex;
 
    justify-content: space-between;
     
}
.text_content p {
    
    font-size: 18px;
    color: rgb( 114,98,119);
    font-weight: 100;
    font-style: italic;

}
.text_content a {
    width: 170px;
    height: 18px;
    background-color: rgb(124, 91, 135);
    color: white;
    font-size: 13px !important;
    display: flex;
    align-items: center;
    justify-content: center;
     margin: 1% 0.5%;
     
}







/* || Main styles */